.checked{
    text-decoration: line-through;
}

li{
    padding: 5px;
    margin: 5px;
    background-color: rgb(126, 126, 126);
    color: rgb(255, 255, 255);
    width: 100px;
    align-items: center;
}